::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

.searchBar {
    margin: 0 auto;
}

.row {
    height: 92vh;
}

.conversation-sidebar {
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fbe589;
    text-align: left
}

.conversation {
    cursor: pointer;
}

.conversation:hover {
    width: 100%;
    background-color: #f6db6e;
}


.conversationImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.beginChatPic {
    padding-top: 20px;
    height: 40;
    width: 400px;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;

}

.chatBoxTop {
    height: 77vh;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0ad4e;
    color: black;
}


