
.searchBar {
    margin: 0 auto;
}

.chatbar {
    background-color: #f9f9f9; 
    /* f9f9f9 */
}

.chatbar:hover {
    background-color: #f2f4f6;
}

.contact-sidebar {
    border-radius: 10px;
    background-color: #fbe589;
}

.contact-bar:hover {
    border-radius: 20px;
    background-color: #f0ad4e;
    cursor: pointer
}
