.landing-image {
   padding-top: 40px;
   width: 400px; 
   height: 500px; 
   object-fit:fit; 
   object-position: 100% 0;
   padding-left: 100px;
   margin-left:100px;

}

.Appimg {

}

.card-img-top {
 object-fit: contain;
}

.pageBody{
    /* background-color: #ebd6f7; */
    background-color: #FBE589;
}

.Appdesc {
    background-color: #AB0AF7
}

/* .topPage {
    padding-top: 50px;
    padding-bottom: 50px;
} */

.signbutton {
  
    }
    
.loginbutton {
  padding-bottom: 10px;
}
.footer {
    bottom: 0;
      
  }

  .mission {
    padding: 55px;
  }

  .content-card {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    padding-right: 200px;
  }

  .img-card {
  }