.landing-image {
   padding-left: 50px;
}

.Appimg {

}

.card-img-top {
 object-fit: contain;
}

.pageBody{
    background-color: #ffffff
}

.Appdesc {
    background-color: #AB0AF7
}

/* .topPage {
    padding-top: 50px;
    padding-bottom: 50px;
} */

.signbutton {
  
    }
    
.loginbutton {

    }
.footer {
    bottom: 0;
      
  }