.landing-image {
   
}

.Appimg {

}

.card-img-top {
 object-fit: contain;
}

.pageBody{
    background-color: #D4AEE6
}

.Appdesc {
    background-color: #AB0AF7
}

.topPage {
    padding-top: 50px;
    padding-bottom: 50px;
}

.signbutton {
  
    }
    
.loginbutton {

    }