.profile-img {
  border-radius: 100px;
}

.container-profile {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
}

.image-profile-div {
  /* position: absolute; */
  margin-left: 60vh;
  margin-right: 50vh;
}

.form-profile-content {
  margin-left: 20vh;
  margin-right: 30vh;
}