

.register-image {
  /* height: 99.5vh; */
  height: 70vh;
  margin-top: 10vh;
}
.each-card {
  margin: 20px;
}

.fields {
  margin: 0 auto;
}

.signup-card {
  margin-left:15vw;
  margin-top: 10vh;
}

.img-card-signup {
  margin-right:20vw;
  margin-left: 5vw;
}