.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: orange;
}

.nav-profile {
  display: flex;
  padding: 10px;
}

.navbar-img {
  width: 50px;
  height: 50px;;
}

.landing-container, .signup-container, .login-container, .profile-container{
  width: 100%;
  height: 100vh;
  background-color: orange;
  overflow: hidden;
}

.landing-body, .signup-body, .login-body{
  display: flex;
  justify-content: space-between;
  padding: 55px 100px 100px 70px;
}

.landing-contents, .signup-contents, .login-contents {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 150%;
}

.landing-img, .signup-img, .login-img {
  max-inline-size: 40%;
}

.signup-form > label {
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}

.signup-form > input {
  display: inline-block;
  float: left;
}

.login-form > label {
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}

.login-form > input {
  display: inline-block;
  float: left;
}

.img {
  width: 250px;
  height: 300px;
}

.chatbar {
  width: 100%;
  height: 100px;
  background-color: rgb(107, 137, 166);
  margin-bottom: 10px;
  border: 1px solid red;
}

.footer {
  position: absolute;
  bottom: 0px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.profile-form > input {
  display: inline-block;
}

.profile-form > label {
  display: inline-block;
  width: 250px;
}